doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title
            block title
        link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
    body
        include header.pug
        main 
            .container 
                block content